@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


.about-us-main {
    width: 70%;
    height: auto;
    margin: 2em auto auto auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    font-family: 'Merriweather';
    color: #555;
}

#about-us-image {
    width: 50%;
    padding: 1em;
}


@media only screen and (max-width: 700px) {
    body {
        font-size: 0.8em;
    }

    img {
        width: 70%;
    }
}

