@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* Category styles sheet for Taste Of Baking*/

/* Developde by: Kimberly Alizadeh, Bahareh Jabarzadnouri, Kathryn Post, Alysha Westwood/

/* Script Date: August 28, 2021 */


.cake-category * {
    box-sizing: border-box;
  }
  
  .cake-category{
    display: grid;
    font-family: 'Merriweather';
  }
  
  html,body{
    margin: 0;
    padding: 0;
  }
  
  
  .heading{
      text-align: center;
  }
  
  
  .containers {
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Merriweather';
    margin: 0 auto;
  }
  
  /* Create four equal columns that sits next to each other */
  .column, .column1{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 15px;
  }
  
  .column img {
    margin-top: 40px;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(0, 0, 0, 0.24);
    
  }
  
  /* Responsive layout - makes a three column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 33%;
      flex: 33%;
      max-width: 33%;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 700px) {
    .column{
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, .column1 {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .column a:link{
      text-decoration: none;
      color:  #07ada5;
  }
  .column a:hover{
      text-decoration: none;
      color: #008f88;
      text-shadow: 0 0 1px #8fece8;
  }
  
  .custom-select {
          background-color:  antiquewhite;
          width: 100px;
          border: none;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          border-radius: 5px;
      }

      #next-page {
        text-align: center;
        margin-top: 2em;
        margin: 2em;
    }

    .checked {
      color: orange;
  }

  h4{
    min-height: 5vh;
  }
