@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* colours added for clarity when designing */

.container {
    margin: auto;
}

header {
    width: 100%;
    font-family: 'Merriweather';
    background-color: white;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

nav li {
    display: inline-block;
}

.navbar li, .navbar a{
    padding: 1em 1.5em;
}


.navbar a:hover{
    background-color: lavenderblush;
}

.navbar a:active {
    background-color: #ffdbe7;
    color: gray;
}

header a {
    color: black;
    text-decoration: none;
}


#mainHeader{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: sticky;
    top: 0;
    align-items: center;
}

#logo {
    height: 6rem;
    width: fit-content;
    justify-self: start;
    padding: 0;
    margin: 0;
}

#logo img {
    height: 100%;
    transform: scaleX(-1);
    padding: 0;
}

#logo figcaption {
    color: lavenderblush;
    text-shadow: 1px 1px 10px goldenrod, 0 0 2px black;
    stroke: thin solid black;
    font-family: Luminari, 'Brush Script MT', 'Bradley Hand';
    font-size: 1.5em;
    position: absolute;
    top: 25%;
}

#logo figcaption::first-letter {
    font-size: 3em;
}

#mainNav {
    justify-self: center;
}

#socialsNav {
    justify-self: end;
}

#categoryHeader {
    display: grid;
    justify-items: center;
    background-color: white;
    box-shadow: 0 0 20px inset goldenrod, 0 0 5px grey;
}

.search {
    padding: .5em;
}

#searchBar {
    padding: 1em;
    border: none;
    box-shadow: inset 0 0 5px rgb(224, 224, 224);
    border-radius: .5em;
}

.search button {
    color: white;
    font-family: 'Merriweather';
    background: goldenrod;
    padding: .75em 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}