@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.page-head, .footnote{
    font-weight: lighter;
    text-align: center;
    text-shadow: #fafcf6 1px 1px 2px;
}


body{
    width: auto;
    margin: auto;
    background-color: #f7f0e7;
    color: #72716f;
    font-family: 'Merriweather';
    
}



fieldset{
    width: 50%;
    margin: auto;
    background-color:#fafcf6;
    border: solid 3px #868268;
    border-radius: 10px;
    padding: 1rem;
}

input, textarea, select {
    background-color: #ffffff;
    border: 2px #b8b284 solid;
    border-radius: 5px;
    font-family: 'Merriweather';
    color: #868268;
    font-size: 12pt;
}

.grid-container > div{
    text-align: left;
    padding: 7px 0;
    font-size: 18px;
  }

#reset, #submit{
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 5px #868268;
}

.centered{
    margin:auto;
}

.button:link{
    box-shadow: 2px 2px 5px #868268;
}

.button:hover{
    background-color: #b8b284 ;
    color: #4d4c4b;
}


@media only screen and (min-width: 610px) {
.grid-container{
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 1.5rem;
}

.grid-container > div{
  text-align: left;
  padding: 10px 0;
  font-size: 18px;
  
}

div.left{
    text-align: right;
}

.check{
    grid-column: 1 / span 2;
}
}
